# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore datasets (optional, if large)
data/